*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #C7E3F2;
}
.main{
    background-color: white;
    width: 600px;
    margin: 4.5rem auto;
    height: 1050px;
    border-radius: 8px;
    padding: 5rem 0;
    overflow: hidden;
}
.img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 50%;
    overflow: hidden;
    background-color: aqua;
    width: 122.91px;
    height: 122.67px;
}
.img img{
    width: 100%;
}
.text{
    margin-bottom: -3rem;
}
.header-name h1,p{
    display: flex;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    align-items: center;
    background-color: white;
    padding-top: 20px;
}
.header-name h1{
    color: #383838;
    font-family: 'Inter', sans-serif;
    letter-spacing: -0.1rem;
    width: 100%;
    font-size: 2.2em;
    line-height: 1.25;
    font-weight: 400;
}
.header-name p{
    color: rgba(0,0,0,0.522);
    font-family: 'Inter', sans-serif;
    letter-spacing: -0.05rem;
    width: 100%;
    font-size: 1.13em;
    line-height: 1.25;
    font-weight: 400;
    padding-bottom: 2.5rem;
}
.about{
    margin-top: 4.3rem;
    background-color: #4299FF;
    width: 600px;
    height: 175px;
    padding-top: 3.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
}
.About{
    margin-left: 5rem;
    font-size: 17px;
    color: #F9FCFF;
    float: left;
    font-family: 'Inter', sans-serif;
    background-color: #4299FF;
}
.vertical{
    line-height: 1.5rem;
    margin-right: 2rem;
    color: #C0DAFF;
    font-family: 'Inter', sans-serif;
    background-color: #4299FF;
    float: right;
    border-left: 2px solid #6AAEFF;
    padding-left: 2rem;
}

a{
    background-color: #4299FF;
    color: #EDF5FF;
}
.recent-work{
    background-color: #3288ED;
    width: 600px;
    height: 260px;
    padding-top: 2.5rem;
}
.Recent{
    margin-left: 4.2rem;
    margin-bottom: 10rem;
    margin-right: 2.5rem;
    padding-top: 1.3rem;
    font-size: 17px;
    color: #F9FCFF;
    float: left;
    font-family: 'Inter', sans-serif;
    background-color: #3288ED;
}
.check ul{
    background-color: #3288ED;
}
.check ul li{
    background-color: #3288ED;
    display: flex;
    justify-content: left;
}
.recent-work .line{
    margin-top: 1rem;
    padding: 4.3rem 1rem;
    background-color: #3288ED;
    float: left;
    border-left: 2px solid #5FA2F0;
}
.check ul li img{
    margin-top: 1.2rem;
    margin-right: 1rem;
    background-color: #3288ED;
    width: 5%;
    height: 5%;
}
.check ul li p{
    color: #C0DAFF;
    background-color: #3288ED;
}
.check ul li a{
    background-color: #3288ED;
}
.contact{
    background-color: #277DE3;
    height: 260px;
}
.Contact{
    background-color: #277DE3;
    font-size: 17px;
    color: #F9FCFF;
    float: left;
    font-family: 'Inter', sans-serif;
}
.contact a img{
    width: 3%;
}
