*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #C7E3F2;
}
.main{
    background-color: white;
    width: 600px;
    margin: 4.5rem auto;
    height: 550px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding-top: 5rem;
    overflow: hidden;
}
.img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 50%;
    overflow: hidden;
    background-color: aqua;
    width: 102.67px;
    height: 102.91px;
}
.img img{
    width: 100%;
}
.text{
    margin-bottom: -3rem;
}
.header-name h1,p{
    display: flex;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    align-items: center;
    background-color: white;
    padding-top: 20px;
}
.header-name h1{
    color: #383838;
    font-family: 'Inter', sans-serif;
    letter-spacing: -0.1rem;
    width: 100%;
    font-size: 2em;
    line-height: 1.25;
    font-weight: 400;
}
.header-name p{
    color: rgba(0,0,0,0.522);
    font-family: 'Inter', sans-serif;
    letter-spacing: -0.05rem;
    width: 100%;
    font-size: 1em;
    line-height: 1.25;
    font-weight: 400;
}
.about{
    margin-top: 4.3rem;
    background-color: #4299FF;
    width: 600px;
    height: 250px;
}