*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.main{
    width: 360px;
    margin: 2rem auto;
    height: 550px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 40px;
    /* overflow: hidden; */
    position: relative;
}
.tag{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -15px;
    z-index: 999;
    background-color: tomato;
    padding: 0.5rem 2rem;
    border-radius: 10px;
    color: antiquewhite;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}
.img{
    height: 220px;
    background-color: teal;
    overflow: hidden;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}
.img img{
    width: 100%;
}
.content{
    text-align: center;
    border-bottom: 2px solid #e5e5e5;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.content h3{
    border-bottom: 1px solid #e5e5e5;
}
.content h1{
    margin: 1rem 0;
}

.content p{
    color: #9f9f9f;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}
.footer-left{
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
}

.footer-left img{
    width: 39px;
    height: 40px;
    border-radius: 50%;
}

.footer-left p {
    margin: 0.5rem;
}

.footer-right{
    padding-right: 1rem;
}